<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet">
</head>
<body class="body-form">
<div class="login-container">
    <a style="text-decoration: none; color: #007bff" href="@{/login}"><h2 class="login-title">LOGIN</h2></a>

    <div th:if="${param.error}" class="alert alert-danger" role="alert">
        Invalid username or password.
    </div>
    <div th:if="${param.logout}" class="alert alert-success" role="alert">
        You have been logged out successfully.
    </div>

    <form th:action="@{/login}" method="post">
        <div class="form-group">
            <input type="text" class="form-control" id="email" name="email" placeholder="E-mail" required autofocus>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="remember-me" name="remember-me">
            <label class="form-check-label" for="remember-me">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary login-btn">LOGIN</button>
    </form>
    <a th:href="@{/register}"><button class="btn btn btn-outline-success login-btn">REGISTER</button></a>
</div>
<section>
    <div class='air air1'></div>
    <div class='air air2'></div>
    <div class='air air3'></div>
    <div class='air air4'></div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

